<?xml version="1.0"?>
<appSettings>
  <add key="MyWebService" value="http://sampler.goodtocode.com/GoodToCode-Framework-for-WebAPI/v4" />
  <add key="MyWebService-Local" value="http://localhost:30004/v4" />
  <add key="MyWebService-Public" value="http://sampler.goodtocode.com/GoodToCode-Framework-for-WebAPI/v4" />
  <add key="TestAppSetting" value="http://www.goodtocode.com" />
</appSettings>